<!DOCTYPE html>
<html ng-app="manage">
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
  <link rel="stylesheet" href="css/ionic.css"/>
  <link rel="stylesheet" href="css/manage.css"/>
  <script src="js/ionic.bundle.js"></script>

</head>
<body ng-controller="parentCtrl">

<!--work表头-->
<ion-header-bar class="bg_color">
  <!--左边按钮-->
  <div class="buttons">
    <button class="button button-icon icon ion-arrow-left-c color_fff"></button>
    <span class="header_border border_fff"></span>
    <button class="button button-icon color_fff">任务详情</button>
  </div>
  <div class="title"></div>
  <!-- 右边按钮-->
  <div class="buttons">
    <button class="button button-icon color_fff">更多</button>
  </div>

</ion-header-bar>

<ion-content>

</ion-content>






<script src="js/jquery-1.11.3.js"></script>
<script src="js/workDetail.js"></script>

</body>
</html>