
  <div class="tabs tabs-icon-top">
    <a class="tab-item" ng-click="jump('work'+workState.state)">
      <i class="icon ion-code-working"></i>
      任务
    </a>

    <a class="tab-item" ng-click="jump('project')">
      <i class="icon ion-navicon"></i>
      项目
    </a>

    <a class="tab-item" ng-click="jump('active')">
      <i class="icon ion-android-time"></i>
      动态
    </a>

    <a class="tab-item" ng-click="jump('person')" >
      <i class="icon ion-person"></i>
      我
    </a>

  </div>
