<!DOCTYPE html>
<html ng-app="manage">
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
  <link rel="stylesheet" href="css/ionic.css"/>
  <link rel="stylesheet" href="css/manage.css"/>
  <script src="js/ionic.bundle.js"></script>
  <script src="js/lib/ion-datetime-picker-master/release/ion-datetime-picker.min.js"></script>
  <link href="js/lib/ion-datetime-picker-master/release/ion-datetime-picker.min.css" rel="stylesheet">
</head>
<body ng-controller="parentCtrl">

<!--模态框-->
<!--选择项目模态框-->
<script id="project.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">选择项目</h1>
      <button class="button button-icon "  ng-click="projectModal.hide()">&times;</button>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <ion-radio ng-model="projectContent.project" ng-value="'轻应用'">轻应用</ion-radio>
        <ion-radio ng-model="projectContent.project" ng-value="'VIVO'">VIVO</ion-radio>
        <ion-radio ng-model="projectContent.project" ng-value="'景兴二期'">景兴二期</ion-radio>
        <ion-radio ng-model="projectContent.project" ng-value="'惠而浦移动售后'">惠而浦移动售后</ion-radio>
      </div>
      <div class='list list-inset'>
        <button ng-click="projectModal.hide()" class="button button-block ">确认</button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>


<!--选择负责人模态框-->
<script id="principal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">选择负责人</h1>
      <button class="button button-icon "  ng-click="principalModal.hide()">&times;</button>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <ion-radio ng-model="projectContent.principal" ng-value="'麦耀强1'">麦耀强1</ion-radio>
        <ion-radio ng-model="projectContent.principal" ng-value="'麦耀强2'">麦耀强2</ion-radio>
        <ion-radio ng-model="projectContent.principal" ng-value="'麦耀强3'">麦耀强3</ion-radio>
        <ion-radio ng-model="projectContent.principal" ng-value="'麦耀强4'">麦耀强4</ion-radio>
      </div>
      <div class='list list-inset'>
        <button ng-click="principalModal.hide()" class="button button-block ">确认</button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>



<!--添加关注人模态框-->
<script id="attention.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">选择负责人</h1>
      <button class="button button-icon "  ng-click="attentionModal.hide()">&times;</button>
    </ion-header-bar>
    <ion-content>
        <ion-toggle ng-model="projectContent.attention[0]" toggle-class="toggle-calm">麦耀强0</ion-toggle>
        <ion-toggle ng-model="projectContent.attention[1]" toggle-class="toggle-calm">麦耀强1</ion-toggle>
        <ion-toggle ng-model="projectContent.attention[2]" toggle-class="toggle-calm">麦耀强2</ion-toggle>
        <ion-toggle ng-model="projectContent.attention[3]" toggle-class="toggle-calm">麦耀强3</ion-toggle>
      <div class='list list-inset'>
        <button ng-click="attentionModal.hide()" class="button button-block ">确认</button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>


<!--work表头-->
<ion-header-bar class="bg_color">
  <!--左边按钮-->
  <div class="buttons">
    <button ng-click="goBack()" class="button button-icon icon ion-arrow-left-c color_fff"></button>
    <span class="header_border border_fff"></span>
    <button class="button button-icon color_fff">新建任务</button>
  </div>
  <div class="title"></div>
  <!-- 右边按钮-->
  <div class="buttons">
    <button class="button button-icon color_fff">保存</button>
  </div>

</ion-header-bar>


<!--主体内容-->
<ion-content>
  <div class="list">
    <label class="item item-input">
      <input ng-model="projectContent.work" ng-value="projectContent.work" type="text" placeholder="准备vivo需求文档">
    </label>
  </div>
  <div class="list">

    <!-- 设置项目-->
    <a ng-click="projectModal.show()" class="item item-icon-left item-icon-right" href="#">
      <i class="icon ion-ios-filing-outline"></i>
      {{projectContent.project}}
      <i class="icon ion-ios-arrow-right"></i>
    </a>
    <!-- 设置负责人-->
    <a ng-click="principalModal.show()" class="item item-icon-left item-icon-right" href="#">
      <i class="icon ion-ios-personadd-outline"></i>
      {{projectContent.principal}}
      <i class="icon ion-ios-arrow-right"></i>
    </a>
    <!-- 设置截止时间-->
    <a ion-datetime-picker ng-model="projectContent.deadline" class="item item-icon-left item-icon-right" href="#">
      <i class="icon ion-ios-calendar-outline"></i>
      设置截止时间&nbsp;{{projectContent.deadline | date: "yyyy-MM-dd H:mm:ss"}}
      <i class="icon ion-ios-arrow-right"></i>
    </a>
  </div>

  <!-- 添加关注人-->
  <div class="list">
    <a  ng-click="attentionModal.show()" class="item item-icon-left item-icon-right" href="#">
      <i class="icon ion-android-star-outline"></i>
      添加关注人
      <i class="icon ion-ios-arrow-right"></i>
    </a>
  </div>
</ion-content>



<script src="js/jquery-1.11.3.js"></script>
<script src="js/newWork.js"></script>

</body>
</html>